<html>
    <head>
        <title>@@SiteTitle@@ &mdash; @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link href="https://fonts.googleapis.com/css?family=Eczar:500,600|Gentium+Basic:400,700|PT+Mono" rel="stylesheet">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cf6363">
        <meta name="theme-color" content="#cf6363">

        <!-- Code Syntax Highlighting (highlight.js) -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss" />
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@ with link posts pointed to @@SiteTitle@@" href="/rss-alternate" />
        <!-- Twitter Cards -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@site_twitter_username" />
        <meta property="twitter:creator" content="@site_author_username" />
        <meta property="twitter:title" content="@@Title@@" />
        <meta property="twitter:description" content="@@Description@@" />
        <meta property="twitter:image" content="@@Image@@" />
        <!-- Facebook Open Graph -->
        <meta property="og:title" content="@@Title@@" />
        <meta property="og:site_name" content="@@SiteTitle@@" />
        <meta property="og:url" content="@@SiteRoot@@@@relativeLink@@" />
        <meta property="og:description" content="@@Description@@" />
        <meta property="og:image" content="@@Image@@" />
    </head>
	<body>
    <h1><a href="/">Jannis Krämer</a></h1>
    <div id="navbar">
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="rss">RSS Feed</a></li>
        </ul>
    </div>